/* styles.css */
body {
    background-color: #334257; /* Color de fondo azul oscuro */
    color: #ffffff; /* Color de texto blanco */
    font-family: Arial, sans-serif; /* Fuente del texto */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #92afd7; /* Color de título azul claro */
}

h1, h2 {
    text-align: center;
    margin-top: 30px; /* Espacio adicional entre el título y el contenido */
}

h2 {
    color: #b3cde0; /* Color de subtítulos para que combine con las etiquetas */
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 20px;
    background-color: #92afd7; /* Color de fondo del botón azul claro */
    color: #334257; /* Color de texto del botón azul oscuro */
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #6b8ea9; /* Color de fondo del botón al pasar sobre él */
}
